

<ion-view title="Категории" hide-back-button="true">
    <ion-header-bar class="bar-dark">
    <ion-nav-buttons side="left"  >
<button nav-clear  has-bouncing="false"  button-clear class="button button-icon icon ion-ios7-person" ></button>
        </ion-nav-buttons>       
    </ion-header-bar>

    <ion-content has-header="true" >
        <ion-list >
            <ion-item can-swipe="true" ng-repeat="c in categories" type="item-text-wrap" ng-click="select(c)" >

                <h1 >{{c.title}}</h1>
            </ion-item>
        </ion-list>
    </ion-content>

</view>

