

<ion-view title="Сменить пароль" >



  <ion-content 
  has-header="true" has-subheader="false" overflow-scroll="false" has-bouncing="false" padding="true" scroll="false">

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Старый пароль:</span>
    <input type="password">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Новый пароль:</span>
    <input type="password">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Новый пароль еще раз:</span>
    <input type="password">
  </label>
</div>


    <a href="#/profile" type="submit"  class="button button-block button-positive">Изменить</a>

  </ion-content>
</ion-view>
