

<ion-view title="Карта" >

<!--     <ion-header-bar class="bar-dark"> hide-back-button="true"
    <ion-nav-buttons side="left"  >
<a nav-clear  button-clear class="button button-icon icon ion-ios7-arrow-back" href='#/categories/0' ></a>
        </ion-nav-buttons>        
    </ion-header-bar> -->

    <ion-content scroll="false" data-tap-disabled="true">
      <div id="map"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">где я?</a>
    </ion-footer-bar>
</view>


