

<ion-view title="Карта" hide-back-button="true">

    <ion-header-bar class="bar-dark">
    <ion-nav-buttons side="left">
          <button class="button" ng-click="back()">
            LeftButton!
          </button>

        </ion-nav-buttons>        
      <h1 class="title">Карта</h1>
    </ion-header-bar>
    <ion-content scroll="false">
      <div id="map"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">где я?</a>
    </ion-footer-bar>
</view>


