<ion-view title="Профиль" >



  <ion-content 
  has-header="true" has-subheader="false" overflow-scroll="false" has-bouncing="false" padding="true" scroll="false">



<div class="row" id="profile">
  <div class="col">
<img class="avatar" src="http://ionicframework.com/img/docs/mcfly.jpg">
  </div>
  <div class="col col-75">
<div class="list">
  <label class="item item-input">
    <span class="input-label">Имя</span>
    <input type="text" value="Иван">
  </label>
  <label class="item item-input">
    <span class="input-label">Фамилия</span>
    <input type="text" value="Иванов">
  </label>
</div>

  </div>
</div>

<!-- <div class="item item-avatar">
    <img src="http://ionicframework.com/img/docs/mcfly.jpg">
  <label class="item item-input">
    <span class="input-label">Имя</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">Фамилия</span>
    <input type="text">
  </label>
  </div>
 -->
   <a href="#/change_password" type="submit"  class="button button-block button-light">Сменить пароль</a>

    <a href="#/login" type="submit"  class="button button-block button-positive">Выйти</a>

  </ion-content>
</ion-view>
