<div class="modal">
        <header class="bar bar-header bar-positive">
          <h1 class="title">I'm A Modal</h1>
          <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </header>
        <content has-header="true" padding="true">

      <div class="list card">

        <div class="item item-avatar">
          <img src="http://ionicframework.com/img/docs/mcfly.jpg">
          <h2>Маша Иванова</h2>
          <p>Восточная 4, кв 26</p>
        </div>

        <div class="item item-body">

<div class="item item-image">
    <img src="http://ecx.images-amazon.com/images/I/41D5vU4I1NL.jpg">
  </div>

        </div>

        <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-checkmark-circled"></i>
    Заказать
  </a>

      </div>

        </content>
      </div>