
<div class="modal" ng-controller="ModalCtrl">
        
<ion-content  has-header="false" padding="true"  scroll="false">

      <div class="list card">

        <div class="item item-avatar">
          <img src="http://ionicframework.com/img/docs/mcfly.jpg">
          <h2>Маша Иванова</h2>
          <p>Восточная 4, кв 26</p>
        </div>

        <div class="item item-body">

<div class="item item-image">
    <img src="http://ecx.images-amazon.com/images/I/41D5vU4I1NL.jpg">
  </div>

        </div>

        <a class="item item-icon-left balanced" ng-click="closeModal()" href>
    <i class="icon ion-checkmark-circled"></i>
    Заказать
  </a>
        <a class="item item-icon-left assertive" ng-click="closeModal()" href>
    <i class="icon ion-close-circled"></i>
    Закрыть
  </a>
      </div>

</ion-content>
      </div>
