

<ion-view  hide-nav-bar="true">



  <ion-content 
  has-header="true" has-subheader="false" overflow-scroll="false" has-bouncing="false" padding="true" scroll="false">
<div style='position: relative;
margin: 50px auto;
max-width: 240px;
height: 240px;
border-radius: 100px;
background: #ccc;'>
  <div class="ion-coffee" style="font-size: 150px; position: absolute;
top: 40px;
left: 70px;

color: #d39211;">
  </div>
</div>
<h2 style="margin: 0 auto;
width: 200px; margin-bottom: 100px;">Please waite...</h2>
    <a href="#/map"  type="submit"  class="button button-block button-positive">Отмена</a>
  </ion-content>
</ion-view>
